@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

/*------------------*/
/*     CSS GRID     */

.ds-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, 200px);

    grid-template-rows: 1fr;
    padding: 0;
    grid-template-areas: 
    
    "filmImage filmTitle filmExcerpt"
    "btnViewFilm";
}

.ds-grid-item {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 1200px){
    .ds-grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, 200px);
    
        grid-template-rows: 1fr;
        padding: 0;
        grid-template-areas: 
        
        "filmImage"
        "filmTitle" 
        "filmExcerpt"
        "btnViewFilm";
    }
    .filmImage, .filmImageHover{
        margin: 0 auto !important;
        width: 80%;
    }
    .filmExcerpt{
        font-size: 22px !important;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .filmDivider{
        visibility: visible !important;
    }
}

@media only screen and (max-width: 1240px){
    .categoryLink{
        text-align: center;
        margin: 10px;
    }
}

@media only screen and (max-width: 1050px){
    .categoryLinks a{
        display: none;
    }
    .categoryLinksDropDown, #filterByStageLabel{
        visibility: visible !important;
    }
}

@media only screen and (max-width: 800px){
    .filmExcerpt{
        font-size: 18px !important;
        line-height: 2 !important;
    }
}

@media only screen and (max-width: 600px){
    .filmExcerpt{
        font-size: 16px !important;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    #uneekGallerySearchBar{
        width: 100%;
        padding: 0 10px 0 10px;
    }
}

@media only screen and (max-width: 600px){
    .filmListHeader{
        font-size: 55px !important;
        font-family: 'Amatic SC', cursive;
    }
}

@media only screen and (max-width: 500px){
    .filmListHeader{
        font-size: 40px !important;
        font-family: 'Open Sans Condensed', sans-serif;
    }
    .titleAndCategory{
        display: grid !important;
        text-align: center;
    }
    .filmCategories{
        width: 50%;
        text-align: center;
        margin-left: 22px !important;
    }
    #filmTitleID{
        text-align: left;
    }
}

@media only screen and (max-width: 550px){
    #uneekGallerySearchBar{
        font-size: 18px !important;
    }
}
@media only screen and (max-width: 515px){
.categoryLinks{
    display: grid !important;
}

}
@media only screen and (max-width: 400px){

.filmExcerpt{
    font-size: 28px;
}

#filmTitleID{
    font-size: 35px;
}
}


/* END OF CSS GRID */
/*-----------------*/

/*------------------*/
/*   FILM ELEMENTS  */


.filmImageHover{
    opacity: 0.8;
  }


.filmListHeader{
    text-align: center;
    font-size: 6rem;
    font-family: 'Amatic SC', cursive;
}

.btnViewFilm{
    background-color: #1e1e1e;
    border-radius: 10px;
    color: white;
    padding: 19px 29px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin-left: 18px;
    font-weight: bold;
}

.btnViewFilmHover{
    background-color: white;
    color: #1e1e1e;
    padding: 18px 28px;
    text-align: center; 
    text-decoration: none;
    border: #1e1e1e 1px solid;
    display: inline-block;
    margin-left: 18px;
    border-radius: 10px;
    font-weight: bold;
}

.filmExcerpt{
    font-size: 32px;
    line-height: 1.5;
    padding-top: 0px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
}

.filmTitle{
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    padding-bottom: 0px;
}

#filmTitleID{
    align-items: center;
}

.filmDivider{
    border: 2px solid #1e1e1e;
    width: 100%;
    visibility: hidden;
}

.noPostsFound{
    text-align: center;
    margin: 0 auto;
}
.titleAndDescription{
    animation: titleDescFrames 0.5s ease-in-out 0s forwards 1;
}
/*Category CSS */
.titleAndCategory{
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}

.filmCategories{
    background: #fff195;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1e1e1e;
    font-size: 22px;
    padding: 8px !important;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
}

.filmCategories:empty{display: none !important}

.resultsFoundText{
    color: #f2f2f2;
    text-transform: capitalize;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 28px;
    padding: 15px;
}

.categoryLinks{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.categoryLink{
    background: #1e1e1e;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #f2f2f2;
    font-size: 22px;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.categoryLinksDropDown{
    visibility: hidden;
}

.categoryLinkActive{
    background: #fff195;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1e1e1e;
    font-size: 22px;
    padding: 8px;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
}

.categoryLink:hover{
    color: #fff195;
    cursor: pointer;
}

#filterByStageLabel{
    padding: 8px;
    margin: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    visibility: hidden;
    animation: titleDescFrames 1s ease-in-out 0s forwards 1;
}

/* END OF FILM ELEMENTS */
/*----------------------*/

/*----------------------*/
/*         ASSETS       */

.SVGSpinner{
    text-align: center;
}

/*    END OF ASSETS     */
/*----------------------*/

/*----------------------*/
/*         Searchbar    */

.uneekGallerySearchBarContainer{
    margin: 0 auto;
    text-align: center;
}

#uneekGallerySearchBar{
    padding: 12px 20px;
    font-size: 22px;
    font-family: 'Open Sans Condensed', sans-serif;
    animation: searchbarFrames 1s ease-in-out 0s forwards 1;
    color: #1e1e1e;
}

.categoryLinksDropDown{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1e1e1e;
    font-size: 22px;
    border-radius: 15px;
}

/*    END OF Searchbar  */
/*----------------------*/

/* Next and Previous Links CSS*/

.nextPrevBar{
    display: flex;
    justify-content: space-between;
}

.nextPrevLinks a{
    color: #f2f2f2;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}

/* Container Animations
--------------------------
*/

.uneek-container{
    animation: containerFrames 2s ease-in-out 0s forwards 1;
    padding: 15px;
}

@keyframes searchbarFrames{
    from{
        opacity: 0.2;
        border-radius: 0px;
        width: 20%;
    }
    to{
        opacity: 1;
        width: 75%;
        border-radius: 25px;
        background: #f2f2f2;
        transform: 300ms cubic-bezier(0, 0.47, 0.32, 1.97);
    }
}

@keyframes titleDescFrames{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes containerFrames{

    25%{
        background: #95d1ff;
        color: #1e1e1e;
        padding: 15px;
        margin: 5px;
        border-radius: 0px;
    }

    50%{
        background: #fff195;
        color: #1e1e1e;
        padding: 15px;
        margin: 5px;
        border: 20px dashed #95d1ff;
    }

    80%{
        opacity: 0.8;
        padding: 15px;
        background: #ff95b3;
        color: #f2f2f2;
        border: 20px solid #1e1e1e;
    }

    100%{
        color: #f2f2f2;
        opacity: 1;
        padding: 15px;
        background: #ff95b3;
        border: 20px solid #1e1e1e;
    }
}